.filterForm {
    color: black;
}

.filterForm label {
    margin-right: 5px;
}

.filterForm fieldset {
    margin-bottom: 10px;
}

/* mobile styling */
@media (max-width: 768px) {
    .filterForm {
        width: 100%;
    }

    .filterForm fieldset {
        padding: 8px;
        margin-bottom: 8px;
    }

    .filterForm label {
        font-size: 0.9rem;
        margin-right: 4px;
    }
}