.profileDropdown {
    position: absolute;
    background-color: white;
    border-radius: 25px;
}

.profileDropdown ul {
    padding: 1vh 1vw;

}

.profileDropdown li {
    line-height: 6vh;
    list-style: none;
}

.profileDropdown a {
    color: black;
}

.profileDropdown a:hover, .profileDropdown button:hover {
    text-decoration: underline;
}

.profileDropdown button {
    background-color: transparent;
    color: black;
    padding: 0px;
}

.profileDropdown button:hover {
    transform: none;
    box-shadow: none;
}